<main>
	<div class="container profile-wrapper">
        <form action="">
            <div class="profile">
                <div class="profile-image">
                    <img src="{{ img.[profile.svg] }}" alt="">
                </div>
                <div class="profile-name">Сергей</div>
                <div class="profile-fields">
                    {{!-- <div class="profile-field">
                        <div class="profile-field-name">
                            Почта
                        </div>
                        <div class="profile-field-value">
                            {{{inputEmail}}}
                        </div>
                    </div> --}}
                    {{{inputEmail}}}
                    {{{inputLogin}}}
                    {{{inputFirstName}}}
                    {{{inputSecondName}}}
                    {{{inputDisplayName}}}
                    {{{inputPhone}}}
                </div>
                <div class="profile-buttons">
                    {{{buttonSave}}}
                </div>
            </div>
        </form>
		
	</div>
</main>