<main>
	<div class="container profile-wrapper">
        <form action="">
            <div class="profile">
                <div class="profile-image">
                    <img src="{{ img.[profile.svg] }}" alt="">
                </div>
                <div class="profile-name">Сергей</div>
                <div class="profile-fields">
                    {{{inputOldPassword}}}
                    {{{inputNewPassword}}}
                    {{{inputConfirm}}}
                </div>
                <div class="profile-buttons">
                    {{{buttonSave}}}
                </div>
            </div>
        </form>
		
	</div>
</main>