<main>
	<div class="container profile-wrapper">
        <form action="">
            <div class="profile">
                <div class="profile-image">
                    <img src="{{ img.[profile.svg] }}" alt="">
                </div>
                <div class="profile-name">Сергей</div>
                <div class="profile-fields">
                    <div class="profile-field">
                        <div class="profile-field-name">
                            Старый пароль
                        </div>
                        <div class="profile-field-value">
                            {{{inputOldPassword}}}
                        </div>
                    </div>
                    <div class="profile-field">
                        <div class="profile-field-name">
                            Пароль
                        </div>
                        <div class="profile-field-value">
                            {{{inputNewPassword}}}
                        </div>
                    </div>
                    <div class="profile-field">
                        <div class="profile-field-name">
                            Повторите пароль
                        </div>
                        <div class="profile-field-value">
                            {{{inputConfirm}}}
                        </div>
                    </div>
                    
                    
                </div>
                <div class="profile-buttons">
                    {{{buttonSave}}}
                </div>
            </div>
        </form>
		
	</div>
</main>