<div class="chatlist-item">
    <div class="chatlist-item-cols">
        <div class="chatlist-item-image">
            <img src="{{img}}" alt="{{name}}">
        </div>
        <div class="chatlist-item-info">
            <div class="chatlist-item-name">
                {{name}}
            </div>
            <div class="chatlist-item-msg">
                {{message}}
            </div>
        </div>
        
        <div class="chatlist-item-msg-time">
            {{time}}
        </div>
        <div class="chatlist-item-msg-count">
            {{count}}
        </div>
    </div>
</div>